:root {
    --text-color: #FFFFFF;
    --background: #150C3F;
    --navbar-background: #331D9A;
    --accent: #B1A4EE;
    --second-accent: #C4BAF2;
    --overlay: #1C105766;
    --text-font: "lato-light", "lato", sans-serif;
    color-scheme: dark;
}

body {
    color: var(--text-color);
    background-color: var(--background);
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

a#title {
    text-decoration: none;
    color: var(--text-color);
}

a#title:hover {
    color: var(--accent)
}

#overlay {
    background-color: var(--overlay);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15vw;
}

h2 {
    font-size: 7vw;
    font-weight: bold;
    margin: 0;
}

p {
    font-size: 1.5vw;
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

#team-photo {
    position: relative;
}