---
---

$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

$header-heading-color: #fff !default;
$header-bg-color: #150c3f !default;
$header-bg-color-secondary: #331d9a !default;

$section-headings-color: #b1a4ee !default;
$body-text-color: #606c71 !default;
$body-link-color: #c4baf2 !default;
$blockquote-text-color: #819198 !default;

$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

@import "{{ site.theme }}";